@model IEnumerable<MaisBahia.Models.Anunciante>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src=@Url.Action("ObterImagem","Anunciantes",new {id=item.Id}) alt="...">
            </div>
</div>
            <div class="col-sm-6 col-md-4">
               
                    <h3>@item.Nome</h3>
                    <p>@item.Descricao</p>
                    <p>@item.Endereco</p>
                    <p>@item.Email</p>
                    <p>@item.Telefone</p>
                </div>
    }
</div>
